<h1>A Nodejs View</h1>
    {{message}}
    <form class="" action="/message" method="post">
        <input type="text" name="message" >
        <button type="submit" name="button">Submit</button>
    </form>
